.css-wlyukq-MuiPaper-root{
    background-color: #fafafa;
}

.css-73xuqe .tabs{
    background-color: #fafafa;
}

.css-1d1h06e .rs__cell{
    background-color: #fafafa;
}

.css-1gyej37 .rs__cell{
    background-color: #fafafa;
}
